* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

#chat-messages {
    height: 500px;
    border: 3px solid #ccc;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.message {
    border: 1px solid #ccc;
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.items {
    list-style: none;
    line-height: 1.4rem;
}

.message:nth-child(odd) {
    background: red;
  }